<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
    <a class="navbar-brand col-sm-1 col-md-1 mr-0" href="{% url 'index:index' %}">首页</a>
    <a class="navbar-brand col-sm-2 col-md-2 mr-0" href="{% url 'reports:reports_index' %}">体检报告</a>
    <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="{% url 'users:login' %}">登录</a>
        </li>
    </ul>
</nav>